* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


body {
    font-family: Helvetica Neue, Arial;
    font-size: 18px;
}

h1, h2 {
    color: #3cf74a;
    
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    
}


h2 {
    font-size: 25px;
    margin-bottom: 10px;
}


.main-text{
    text-align: justify;
    margin-bottom: 20px;
}

.author-text{
    font-size: 25px;
}‚



.container {
    width: 600px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    
}


.blog-post {
    background-color: #9d9df0;
    width: 75%;
    float: left;
    padding-right: 30px;

}

.other-posts {
    background-color: #4cea0e;
    width: 25%;
    float: left;

}

.author-box {
    background: #ddd;
    border-top: 1px solid #959595;
    padding-top: 20px;
}
